/** Dark Theme **/

$bg-dark: #4A4F68;
$top-bg: #1F212E;
$dark-desc-blue: #252A41;
$desaturated-blue: #8B97C6;

/** white theme **/
$top-blue: #F5F7FF;
$ligt-gray: #F0F2FA;
$dark-gray: #63687E;
$bg-dark-white: #1E202A